.contenar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 33px;
}

.contenar footer.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contenar footer.footer .contact p span {
  font-size: 18px;
}
.contenar footer.footer .contents p span {
  font-size: 18px;
  padding-left: 9px;
  padding-right: 9px;
}
@media screen and (max-width: 700px) {
  .contenar {
    padding: 0 10px;
  }
  .contenar footer.footer .contact p span {
    font-size: 10px;
  }
  .contenar footer.footer .contents p span {
    font-size: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
